Q1. Create one variable containing following type of data:

In [4]:
# (i) string
A = "Hello, World!"

In [5]:
# (ii) list
B = [ 1, 8, 6 , 7, 'Vivek', True, False, 45.6]

In [6]:
# (iii)	float
C = 45.6

In [ ]:
# (iv) tuple
D = (10, 20, 30)

Q2. Given are some following variables containing data:

In [ ]:
# (i)	var1 = ‘ ‘
(i) var1 is a string data type.

In [ ]:
# (ii)	var2 = ‘[ DS , ML , Python]’
(ii) var2 is a string data type.

In [ ]:
# (iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iii) var3 is a list data type.

In [ ]:
# (iv)	var4 = 1
(iv) var4 is an integer data type.

Q3. Explain the use of the following operators using an example

In [1]:
#(i) / (Division Operator): The / operator is used for division and returns the quotient as a float.
a = 10
b = 3
result = a / b
print(result)  # Output: 3.3333333333333335

3.3333333333333335

In [2]:
# (ii) % (Modulo Operator): The % operator is used for modulus division and returns the remainder.
a = 10
b = 3
result = a % b
print(result)  # Output: 1

1

In [3]:
#(iii) // (Floor Division Operator): The // operator is used for floor division and returns the quotient as an integer (rounding down).
a = 10
b = 3
result = a // b
print(result)  # Output: 3

3

In [4]:
# (iv) ** (Exponentiation Operator): The ** operator is used for exponentiation and raises the left operand to the power of the right operand.
a = 2
b = 3
result = a ** b
print(result)  # Output: 8

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [2]:
A = [10, "Hello", 3.14, True, [1, 2, 3], (4, 5, 6), {"name": "John", "age": 25}, None, 5 + 2j, False]

for element in A:
    print(element, type(element))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'name': 'John', 'age': 25} <class 'dict'>
None <class 'NoneType'>
(5+2j) <class 'complex'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [3]:
A = 24  # Number A
B = 3   # Number B

count = 0  # Counter to keep track of the number of divisions

while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print("Number A is divisible by number B.")
    print("It can be divided", count, "times.")
else:
    print("Number A is not divisible by number B.")

Number A is divisible by number B.
It can be divided 1 times.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not

In [4]:
my_list = [2, 9, 12, 5, 18, 7, 21, 15, 4, 10, 27, 14, 6, 8, 1, 11, 19, 3, 22, 13, 16, 20, 25, 17, 23]

for element in my_list:
    if element % 3 == 0:
        print(element, "is divisible by 3")
    else:
        print(element, "is not divisible by 3")

2 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
5 is not divisible by 3
18 is divisible by 3
7 is not divisible by 3
21 is divisible by 3
15 is divisible by 3
4 is not divisible by 3
10 is not divisible by 3
27 is divisible by 3
14 is not divisible by 3
6 is divisible by 3
8 is not divisible by 3
1 is not divisible by 3
11 is not divisible by 3
19 is not divisible by 3
3 is divisible by 3
22 is not divisible by 3
13 is not divisible by 3
16 is not divisible by 3
20 is not divisible by 3
25 is not divisible by 3
17 is not divisible by 3
23 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

In [ ]:
# Mutable and immutable are terms used to describe the ability to modify or change an object after it is created. In programming, mutable data types allow -
# their values to be modified, while immutable data types do not.

In [7]:
# Example of immutable data types
x = 5
y = x  # y holds the value of x
x = 10  # Modifying x does not affect the value of y
print(x)  # Output: 10
print(y)  # Output: 5

name = "Alice"
new_name = name.upper()  # Creating a new string object with modified value
print(name)  # Output: Alice
print(new_name)  # Output: ALICE

coordinates = (3, 4)
# Modifying coordinates by reassigning a new tuple with modified values
coordinates = (5, 6)
print(coordinates)  # Output: (5, 6)

10
5
Alice
ALICE
(5, 6)

In [8]:
# Example of mutable data types
my_list = [1, 2, 3]
my_list.append(4)  # Modifying the existing list by adding a new element
print(my_list)  # Output: [1, 2, 3, 4]

my_dict = {"name": "John", "age": 25}
my_dict["age"] = 30  # Modifying the existing dictionary by changing the value
print(my_dict)  # Output: {'name': 'John', 'age': 30}

my_set = {1, 2, 3}
my_set.add(4)  # Modifying the existing set by adding a new element
print(my_set)  # Output: {1, 2, 3, 4}

[1, 2, 3, 4]
{'name': 'John', 'age': 30}
{1, 2, 3, 4}