Q1. How do you comment code in Python? What are the different types of comments?

Ans:- (i) Single-line comments: These comments are used to provide explanations on a single line. They start with '#' and continue until the end of the line.

In [2]:
# This is a single-line comment

(ii) Multi-line comments (docstrings): These comments span multiple lines and are used for documenting functions, classes, or modules. They are enclosed between triple quotes (''' or """) at the beginning and end.

In [3]:
'''
This is a multi-line comment.
It can span multiple lines and is often used as a docstring.
'''

'\nThis is a multi-line comment.\nIt can span multiple lines and is often used as a docstring.\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [1]:
# In Python, variables are used to store and manipulate data. A variable is essentially a named location in the computer's memory where a value can be stored. 
# It allows you to assign values to a specific name and refer to that name to access or modify the value.

In [2]:
# Variable declaration and assignment
name = "Vivek"
age = 25
is_student = True

# Accessing and modifying variable values
print("Name:", name)  # Output: Vivek

age = age + 1
print("Age:", age)  # Output: 26

is_student = False
print("Is student?", is_student)  # Output: False

Name: Vivek
Age: 26
Is student? False

Q3. How do you convert one data type to another in Python?

In [5]:
# (i) int(): Converts a value to an integer data type.
num_str = "10"
num_int = int(num_str)
print(num_int)  # Output: 10
type(num_int)   # Output: int

10

int

In [7]:
# (ii) float(): Converts a value to a floating-point (decimal) data type.
num_str = "3.14"
num_float = float(num_str)
print(num_float)  # Output: 3.14

num_int = 14
b_float  = float(num_int) 
print(b_float) # Output: 14.0

3.14
14.0

In [9]:
# (iii) str(): Converts a value to a string data type.
num_int = 42
num_str = str(num_int)
print(num_str)  # Output: "42"
type(num_str)

42

str

In [10]:
# (iv) bool(): Converts a value to a boolean data type
num_int1 = 1
is_valid1 = bool(num_int1)
print(is_valid1)  # Output: True
type(is_valid1)

num_int2 = 0
is_valid2 = bool(num_int2)
print(is_valid2)  # Output: False
type(is_valid2)

True
False

bool

Q4. How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line in Jupyter Notebook, you can follow these steps:

Create a new code cell in Jupyter Notebook.
Write your Python code in the code cell.
Save the notebook if you haven't already.
Open a new terminal window.
Navigate to the directory where your Jupyter Notebook file is located. You can use the cd command to change directories.
Type the following command in the terminal: jupyter nbconvert --to script [notebook_filename.ipynb]. Replace [notebook_filename.ipynb] with the actual name of your notebook file.
This command will generate a Python script file with the same name as your notebook file, but with a .py extension.
Execute the Python script by typing python [generated_script_filename.py] in the terminal. Replace [generated_script_filename.py] with the actual name of the generated script file.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [3]:
# Using complex() function
z1 = complex(2, 3)
print(z1)  # Output: (2+3j)

# Directly specifying real and imaginary parts
z2 = 4 + 2j
print(z2)  # Output: (4+2j)

# Complex number with only real part
z3 = 5 + 0j
print(z3)  # Output: (5+0j)

# Complex number with only imaginary part
z4 = 0 + 7j
print(z4)  # Output: 7j

(2+3j)
(4+2j)
(5+0j)
7j

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [4]:
age = 25

In [5]:
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [6]:
price  = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [7]:
name = "Vivek Kumar"
print(name)

Vivek Kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [9]:
string = "Hello, World!"
substring = string[7:]
print(substring)

World!

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [11]:
is_student = True
print(is_student)

True